<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    @font-face {
         font-family: 'MaplestoryOTFBold';
         src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
         font-weight: normal;
         font-style: normal;
    }
    * {
       font-family: 'MaplestoryOTFBold';
    }
    .wrapper {
        justify-content: center;
        align-items: center;
        text-align : center;
        margin : auto;
    }
    </style>
</head>
<body>
  <div class="wrapper">
    <h1><span style="color : blue">{{ text }}</span>을/를 음성으로 바꿉니다.</h1>
    <audio src= "{{ path }}" controls="controls" autoplay="autoplay"></audio>
  </div>
</body>
</html>